<body data-choose>
    <h1>Kies jouw datahulpje</h1>
    <form action="/kies-datahulpje" method="POST">
        <label>
            <input type="radio" name="companion" value="vivi">
            <span>Vivi</span>
        </label>
        <label>
            <input type="radio" name="companion" value="momo">
            <span>Momo</span>
        </label>
        <input type="submit" value="Keuze opslaan">
    </form>
</body>