<body data-login="only for OBA-members">
    <h1>Met je email en sleutel krijg je toegang tot de data die de OBA van jou heeft.</h1>
    <form action="/login" method="POST">
        <div>
            <label><span>E-mail</span><input type="email" name="email"></label>
            <label><span>Sleutel</span><input type="password" name="key"></label>
            <p>Geen sleutel ontvangen of sleutel vergeten? <a href="/sleutel">Vraag hier een sleutel aan</a></p>
        </div>
        <button type="submit">Onderzoeken</button>
    </form>
</body>