<body>
    <h1>Heb je geen sleutel?</h1>
    <p>Als OBA-lid krijg je jouw eigen sleutel toegestuurd. Kijk in je mail om te zien of je de sleutel hebt ontvangen.</p>
    <p>Ben je de sleutel vergeten of is het niet toegestuurd? Vul hieronder je email in om een nieuwe sleutel aan te vragen.</p>
    <label>E-mail<input type="email"></label>
</body>