<body>
    <h1>Heb je geen sleutel?</h1>
    <p>Als OBA-lid krijg je jouw eigen sleutel toegestuurd. Kijk in je mail om te zien wat jouw sleutel is.</p>
    <p>Ben je de sleutel vergeten? Vul hieronder je email in om opnieuw een sleutel te krijgen.</p>
    <input type="email">
</body>